<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MainSystem.Properties.Settings.dbconnection" connectionString="server=192.168.1.200;user id=Devccc;password=rootroot;database=ayatest"
            providerName="MySql.Data.MySqlClient" />
        <add name="192.168.1.200_Connection" connectionString="XpoProvider=MySql;server=192.168.1.200;port=3306;user id=; password=; database=ayatest;persist security info=true;CharSet=utf8;" />
        <add name="192.168.1.200_ayatest_Connection" connectionString="XpoProvider=MySql;server=192.168.1.200;port=3306;user id=; password=; database=ayatest;persist security info=true;CharSet=utf8;" />
        <add name="192.168.1.200_ayatest_Connection 1" connectionString="XpoProvider=MySql;server=192.168.1.200;port=3306;user id=Devccc; password=rootroot; database=ayatest;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
</configuration>